:root {
  font-size: 60%;

  --color-background: #f0f0f7;
  --color-primary: #2c2459;
  --color-primary-light: #493e80;
  /* --color-primary-lighter: #6659aa;
  --color-secondary: #da559a; */
  --color-primary-lighter: #FFAC30;
  --color-secondary: #FFAC30;
  --color-secondary-dark: #493e80;
  --color-button-text: #ffffff;
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #FFFFFF;
  --color-text-title: #32264d;
  --color-text-complement: #9c98a6;
  --color-text-base: #6a6180;
  --color-input-background: #f8f8fc;
  --color-box-base: #ffffff;
  --color-border-box: #e6e6f0;
  --color-box-footer: #fafafc;
  --color-line-in-white: #e6e6f0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.4rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
